.pagination {
  margin-left: var(--space-auto);
  margin-right: var(--space-auto);
  margin-top: var(--space-2xl);

  :global(.PaginationItem) {
    font-family: var(--font-primary);
    font-weight: 300;
    transition: font-weight 0.2s ease;
  }

  :global(.PaginationItem_active) {
    font-weight: 500;
    animation: none !important;
    background-color: var(--color-control-bg-ghost);
  }

  :global(.PaginationItem) {
    &:hover {
      animation: fontWeightAnimatioin 0.2s ease forwards !important;
    }
  }
}

@keyframes fontWeightAnimatioin {
  from {
    font-weight: 300;
  }
  to {
    font-weight: 500;
  }
}
