.modal {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 30px;

  @include breakpoint(medium) {
    max-width: 693px;
    min-height: 723px;
  }
}

.button-close {
  position: absolute;
  top: 20px;
  right: 20px;

  @include breakpoint(medium) {
    top: 20px;
    right: 20px;
  }
}
