.header {
  /* TODO:: Исправить добавление стилей для хедера */
  :global(.che--LayoutRow) {
    border: none;
    height: 80px;
    padding-right: var(--space-l);
    padding-left: var(--space-l);

    @media (min-width: 1024px) {
      padding-right: var(--space-6xl);
      padding-left: var(--space-6xl);
    }
  }
}

.buttons {
  /* TODO:: Исправить добавление стилей для кнопок */
  /* TODO:: Добавить ховер */
  :global(.Button) {
    text-transform: uppercase;
  }
}

.logo {
  fill: var(--color-base-base);
}

.burger span {
  --icon-size: var(--graphics-size-m);
}

.sidebar {
  width: 466px !important;
  right: 0;
  --sidebar-transform: translate3d(100%, 0, 0);
  padding-top: 200px;
  padding-left: 94px;
  box-shadow: none;

  :global(.che--VerticalMenuItem) {
    font-family: "CormorantSC";
    font-size: var(--size-text-5xl);
    line-height: var(--line-height-text-2xs);
    text-transform: uppercase;
    padding: var(--space-0);

    &:not(:last-child) {
      margin-bottom: var(--space-3xl);
    }
  }
}

.header-mobile {
  margin: 2px;
  margin-bottom: 60px;
}

.mode {
  background-color: var(--color-base-transparent);
  border: none;
  border-bottom: 1px solid var(--color-base-base);
  padding: var(--space-0);
  cursor: pointer;
}
