.wrapper {
  width: 100%;
}

.back {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  background-color: var(--color-base-transparent);
  cursor: pointer;
  width: fit-content;
  padding: 0;
}

.icon {
  svg {
    fill: var(--color-base-base);
    transform: rotate(180deg);
  }
}

.text {
  border-bottom: 1px solid var(--color-base-base);
}

.buttons {
  display: flex;
  gap: 24px;
}

.button {
  padding: 0;
  width: 28px;
  height: 28px;
  background-color: var(--color-control-bg-ghost);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: block;
  }
}
