.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 100%;
}

.back {
  svg {
    transform: rotate(180deg);
  }

  span {
    font-size: 12px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}
