.pagination {
  margin-left: var(--space-auto);
  margin-top: var(--space-2xl);

  /* TODO:: Исправить добавление стилей */
  :global(.PaginationItem) {
    font-family: var(--font-primary);
    font-weight: 300;
    transition: font-weight 0.3s ease;
  }

  /* TODO:: Исправить добавление стилей */
  :global(.PaginationItem_active) {
    font-weight: 500;
  }

  /* TODO:: Исправить добавление стилей */
  :global(.PaginationItem:hover) {
    font-weight: 500;
  }
}
