.brick {
  display: flex;
  align-items: flex-end;
}

.wrapper {
  width: 76%;
  background-color: var(--color-base-essential);
  height: 82px;
  grid-template-rows: 19px 15px;
  padding: var(--space-l);
}

.text {
  background-color: var(--color-base-system);
}

.text-first {
  width: 71%;
}

.text-second {
  width: 23%;
}
