.wrapper {
  margin-top: 60px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    text-align: center;
  }
}

.title {
  margin-bottom: 12px;
}

.description {
  /* TODO:: вынести в переменные */
  color: #9c9c9c;
}
