.wrapper {
  position: relative;
  margin-bottom: 84px;
  max-width: 280px;

  @media (min-width: 768px) {
    margin-bottom: 130px;
    max-width: 352px;
  }

  @media (min-width: 1280px) {
    max-width: 392px;
  }
}

.wrap {
  background-color: var(--color-bg-default);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 56px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 34px 88px;
  }

  @media (min-width: 1280px) {
    padding: 54px 112px;
  }

  &:before {
    content: "";
    position: absolute;
    border: 5px dashed var(--color-control-bg-border-default-hover);
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
  }
}

.stub {
  width: 168px;
  height: 151px;

  svg {
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 20px);
  width: 48px;
  height: 48px;

  &:hover {
    background-color: var(--color-control-bg-secondary) !important;
  }

  svg {
    fill: var(--color-base-normal);
  }
}

.description {
  font-family: var(--font-mono);
  text-align: center;
  text-wrap: balance;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-control-bg-secondary);
    width: 160px;
    height: 1px;
  }
}
