.combobox {
  max-width: 260px;
  margin-bottom: 40px;

  @include breakpoint(medium) {
    max-width: 340px;
  }

  :global(.FieldLabel) {
    color: var(--color-typo-brand);
    font-size: var(--size-text-xs);
    line-height: var(--line-height-text-2xs);
    font-weight: 700;
  }

  :global(.Select-SelectContainer_multiple .Select-Control) {
    background-color: var(--color-control-bg-ghost);
  }

  :global(.Select-ClearIndicator) {
    display: none;
  }

  :global(.Select-ControlValueContainer) {
    padding: 0 16px;
  }

  :global(.TagBase-Label) {
    font-size: var(--size-text-xs);
  }

  :global(.TagBase.SelectValueTag) {
    background-color: rgba(18, 18, 18, 0.05);
    border-radius: 30px;
    padding: 3px 16px;
    height: auto;
    border: 1px solid var(--color-control-typo-primary);
  }

  :global(.TagBase-CancelButton) {
    padding: 0;
    margin-left: 8px;
    opacity: 1;

    span {
      width: 8px;
      height: 8px;
    }

    svg {
      fill: var(--color-base-base);
    }
  }

  :global(.Select-Delimiter) {
    background-color: transparent;
    width: 0;
  }

  :global(.Select-DropdownIndicatorIcon) {
    svg {
      fill: #9c9c9c;
    }
  }

  :global(.Select-Body .Select-Caption) {
    position: absolute;
    bottom: -8px;
    transform: translateY(100%);
  }

  :global(.TagBase-CancelButton) {
    &:focus-visible {
      svg {
        fill: var(--color-typo-brand);
      }
    }
  }
}

.combobox-dropdown {
  box-shadow: none;
  border-color: var(--color-base-phantom);
  background-color: var(--color-control-bg-ghost);
  z-index: 1;

  :global(.ListItem_active) {
    background-color: transparent;
  }

  :global(.ListItemGrid-Slot) {
    font-weight: 300;
  }

  :global(.Checkbox-Input:checked:before) {
    border-color: var(--color-base-base);
  }

  :global(.Checkbox-Input) {
    background-color: var(--color-bg-default) !important;
    border-color: var(--color-control-bg-border-default) !important;
  }

  :global(.ListItem_interactive) {
    &:hover {
      background-color: var(--color-bg-stripe);
    }
  }
}
