.container {
  background-color: var(--color-base-essential);
  min-height: 100dvh;
}

.layout {
  max-width: 1280px;
  padding: var(--space-0) var(--space-l);
  margin: var(--space-m) var(--space-auto) var(--space-0);
  padding-bottom: var(--space-m);

  @media (min-width: 576px) {
    margin-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
  }

  @media (min-width: 1024px) {
    margin-top: var(--space-4xl);
    padding-bottom: var(--space-4xl);
  }
}

/* TODO:: В SnackBar не применяется светлая тема */
:global(.Theme_color_gpnDefault) {
  :global(.SnackBarItem) {
    background-color: #fcfcfc;
    border: 1px solid #dedede;
  }

  :global(.Text_view_primary) {
    color: #575757;
  }

  :global(.icons--Icon-Svg) {
    fill: #575757;
  }
}
