.container {
  background-color: var(--color-base-essential);
  min-height: 100dvh;
}

.layout {
  max-width: 1280px;
  padding: var(--space-0) var(--space-l);
  margin: var(--space-m) var(--space-auto);

  @media (min-width: 576px) {
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-2xl);
  }

  @media (min-width: 1024px) {
    margin-top: var(--space-4xl);
    margin-bottom: var(--space-4xl);
  }
}
