.wrapper {
  margin-top: 110px;
  align-items: flex-start;

  @include breakpoint(medium-large) {
    margin-top: 0;
    height: 100%;
  }
}

.image {
  @include breakpoint(medium) {
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.content {
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint(medium-large) {
    margin-top: 132px;
  }
}

.title {
  margin-bottom: 60px;
  font-family: var(--font-mono);
  text-align: center;

  @include breakpoint(medium) {
    margin-bottom: 40px;
  }

  @include breakpoint(medium-large) {
    margin-bottom: 20px;
  }
}

.text {
  order: 1;
  text-align: center;
  margin-bottom: 32px;

  @include breakpoint(medium) {
    order: inherit;
    margin-bottom: 60px;
  }
}

.sign-up {
  text-transform: lowercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1em !important;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;

  @include breakpoint(medium) {
    padding: 0 23px;
    margin-bottom: 40px;
    max-width: 340px;
  }

  :global(.FieldLabel) {
    color: var(--color-typo-brand);
    font-size: var(--size-text-xs);
    line-height: var(--line-height-text-2xs);
    font-weight: 700;
  }

  :global(.FieldLabel-Star) {
    display: none;
  }

  :global(.TextField-InputContainer) {
    min-height: 46px;
    padding: 0 16px;
    background-color: var(--color-control-bg-ghost);
  }

  :global(.TextField-Input) {
    height: calc(46px - var(--control-border-width) * 2);
    font-weight: 300;
  }

  :global(.TextField-ClearButton) {
    height: calc(46px - var(--control-border-width) * 2);
  }

  :global(.TextField-Body .TextField-Caption) {
    position: absolute;
    bottom: -8px;
    transform: translateY(100%);
  }

  :global(.TextField-ClearButton) {
    svg {
      fill: var(--color-base-base);
      transition: fill 0.2s ease;
    }

    &:hover,
    &:focus-visible {
      svg {
        fill: var(--color-typo-brand);
      }
    }
  }
}

.field-last {
  margin-bottom: 40px;

  @include breakpoint(medium) {
    margin-bottom: 60px;
  }
}

.button {
  margin: 0 auto 60px;
}
