.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include breakpoint(medium) {
    margin-bottom: 20px;
  }
}

.fields {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
    gap: 48px;
    width: 493px;
  }
}

.field {
  @include breakpoint(medium) {
    margin-bottom: 60px;
  }

  :global(.TextField-Input) {
    min-width: 56px;
  }
}

.field-year {
  @include breakpoint(medium) {
    max-width: 105px;
  }
}
