.header {
  /* TODO:: Исправить добавление стилей для хедера */
  :global(.che--LayoutRow) {
    border: none;
    height: 80px;
    max-width: 1280px;
    padding: var(--space-0) var(--space-l);
    margin: var(--space-0) var(--space-auto);
  }
}

.header-search {
  :global(.che--LayoutRow-Side_position_right) {
    width: 100%;

    & > div {
      width: 100%;
      margin-right: 5px;
    }
  }
}

.logo {
  fill: var(--color-base-base);
}

.button {
  svg {
    fill: var(--color-base-base);
  }
}
