.carousel {
  :global(.slick-slide) {
    padding: 0;
  }
}

.arrow {
  &::before {
    background-color: var(--color-base-opacity) !important;
  }

  &::after {
    transition: background-color 0.2s ease;
  }

  &:hover {
    &::after {
      background-color: var(--color-typo-brand);
    }
  }
}

.wrapper {
  position: relative;
  height: 100%;
}

.cover {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  background-color: var(--color-base-opacity);
  padding: 5px 10px;
  height: auto;

  &:hover {
    background-color: var(--color-base-opacity) !important;
  }

  @include breakpoint(medium) {
    top: 40px;
    left: 40px;
  }

  @include breakpoint(large) {
    top: 60px;
    left: 120px;
  }

  :global(.Button-Icon) {
    svg {
      transition: fill 0.2s ease;
      fill: var(--color-control-typo-ghost);
    }
  }

  :global(.Button-Label) {
    transition: color 0.2s ease;
    color: var(--color-control-typo-ghost);
    border-color: var(--color-base-normal) !important;
  }

  &:hover,
  &:focus-visible {
    svg {
      fill: var(--color-typo-brand);
    }

    :global(.Button-Label) {
      color: var(--color-typo-brand);
    }
  }
}

.content {
  background-color: var(--color-base-essential);
  padding: 16px 44px 23px 0;
  position: absolute;
  left: 0;
  bottom: 80px;
  z-index: 1;
  width: 253px;
  box-sizing: border-box;

  @include breakpoint(medium) {
    left: 40px;
    bottom: 60px;
    width: 498px;
    padding: 40px 40px 40px 0;
  }

  @include breakpoint(large) {
    left: 120px;
    bottom: 100px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 20px;
  bottom: -32px;
  transform: translateY(100%);

  @include breakpoint(medium) {
    left: auto;
    bottom: auto;
    transform: none;
    top: 20px;
    right: 20px;
  }
}

.button {
  width: 28px !important;
  height: 28px !important;
  background-color: var(--color-control-bg-ghost) !important;
  border-radius: 4px !important;
  border-bottom: none !important;

  &:hover {
    background-color: var(--color-control-bg-ghost) !important;
  }

  span {
    width: 24px;
    height: 24px;
  }

  svg {
    display: block;
  }
}

.wrapper-text {
  border-left: 2px solid var(--color-typo-secondary);
}

.year {
  padding-left: 12px;
  margin-bottom: 4px;

  @include breakpoint(medium) {
    margin-bottom: 8px;
    padding-left: 20px;
  }
}

.name {
  font-family: var(--font-mono);
  padding-left: 12px;

  @include breakpoint(medium) {
    padding-left: 20px;
  }
}

.count {
  font-family: var(--font-mono);
  position: absolute;
  bottom: 20px;
  right: 20px;

  @include breakpoint(medium) {
    bottom: 60px;
    right: 40px;
  }

  @include breakpoint(large) {
    bottom: 120px;
    right: 100px;
  }
}
