.wrapper {
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

.title {
  font-family: var(--font-mono);
  margin: 0 0 60px;
}

.button {
  margin-left: auto;

  :global(.Button-Icon) {
    width: 24px;
    height: 24px;
  }
}
