.modal {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 0;
  box-shadow: none;

  @include breakpoint(large) {
    max-height: 90%;
    max-width: 90%;
    height: auto;
    width: auto;
  }
}

.button {
  position: absolute;
  top: 20px;
  right: 20px;

  @include breakpoint(medium) {
    top: 36px;
    right: 24px;
  }

  @include breakpoint(large) {
    top: 32px;
    right: 32px;
  }
}
