.app {
  text-align: center;
  font-family: "CormorantSC";
  background: var(--color-bg-default);
  min-height: 100dvh;
}

.layout {
  max-width: 1280px;
  padding: var(--space-0) var(--space-l);
  margin: var(--space-0) var(--space-auto);

  @media (min-width: 576px) {
    margin-top: var(--space-6xl);
  }
}
