/* stylelint-disable */
.Theme_color_gpnDark {
  /* Базовые цвета, от которых выстраивается вся палитра */
  --color-base-base: #dedede; /* + Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
  --color-base-essential: #121212; /* + Базовый цвет поверхностей */
  --color-base-project: #ab8956; /* + Проектный цвет, от которого выстраивают акцентные состояния */
  --color-base-phantom: #1a1818; /* + Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */
  --color-base-path: #0078d2; /* Цвет ссылок и контролов, от которого выстраиваются все их состояния */
  --color-base-system: #0d0d0d; /* + Цвет системнный */
  --color-base-shadow: #002033; /* Цвет тени */

  --color-base-success: #22c38e; /* Цвет успеха */
  --color-base-alert: #eb5757; /* Цвет ошибки */
  --color-base-warning: #f38b00; /* Цвет предупреждения */
  --color-base-caution: #f2c94c; /* Цвет осторожности */
  --color-base-normal: #dedede; /* + Цвет нейтральный */
  --color-base-critical: #33000f;

  --color-base-transparent: transparent;
  --color-base-opacity: rgba(18, 18, 18, 0.3);

  /* //////////////////////////////
  // Цвета фонов /////////////// */
  --color-bg-default: #121212; /* + Цвет дефолта */
  --color-bg-secondary: var(--color-base-project); /* Цвет дефолта */

  --color-bg-brand: var(--color-base-project); /* Цвет фона брендированый */

  --color-bg-link: var(--color-base-path); /* Цвет фона ссылки */
  --color-bg-border: var(--color-base-phantom); /* Цвет границ */
  --color-bg-stripe: rgba(
    222,
    222,
    222,
    0.02
  ); /* + Цвет зебры (например, при окрашивании фона строк таблицы через одну) */

  --color-bg-ghost: rgba(222, 222, 222, 0.04); /* + Цвет затенения */

  --color-bg-tone: rgba(3, 3, 3, 0.6); /* + Цвет паранджи */
  --color-bg-soft: var(--color-base-essential); /* Цвет молока */
  --color-bg-system: var(--color-base-system); /* Цвет фона системнный */

  --color-bg-normal: var(--color-base-normal); /* Цвет фона нейтральный */

  --color-bg-success: var(--color-base-success); /* Цвет фона успеха */
  --color-bg-caution: var(--color-base-caution); /* Цвет фона осторожности */

  --color-bg-warning: #ae2917; /* + Цвет фона предупреждения */

  --color-bg-alert: #1a1818; /* + Цвет фона ошибки */
  --color-bg-critical: var(--color-base-critical); /* Цвет фона системнный */

  /* //////////////////////////////
  // Цвета текста ////////////// */
  --color-typo-primary: var(--color-base-base); /* Цвет основного текста */

  --color-typo-secondary: var(
    --color-base-project
  ); /* + Цвет второстепенного текста */

  --color-typo-ghost: var(--color-base-base); /* Цвет дополнительного текста */

  --color-typo-brand: #ffffff; /* + Цвет брендового текста */

  --color-typo-system: var(--color-base-system); /* Цвет фона системнный */

  --color-typo-normal: var(--color-base-normal); /* Цвет фона нейтральный */

  --color-typo-success: var(--color-base-success); /* Цвет текста успеха */

  --color-typo-caution: var(
    --color-base-caution
  ); /* Цвет текста осторожности */

  --color-typo-warning: #ae2917; /* + Цвет текста предупреждения */

  --color-typo-alert: var(--color-base-alert); /* Цвет текста ошибки */

  --color-typo-critical: var(--color-base-critical); /* Цвет фона системнный */

  --color-typo-link: var(--color-base-path); /* Цвет основной ссылки */
  --color-typo-link-minor: var(
    color-base-path
  ); /* Цвет второстепенной ссылки */

  --color-typo-link-hover: var(color-base-path); /* Цвет ховера ссылки */

  /* //////////////////////////////
  // Цвета скроллбара ////////////// */
  --color-scroll-bg: var(--color-base-phantom);
  --color-scroll-thumb: var(--color-base-phantom);
  --color-scroll-thumb-hover: var(--color-base-phantom);

  /* /////////////////////////////
  // Цвета контролов /////////// */

  /* Default */
  --color-control-bg-default: var(
    --color-base-essential
  ); /* Цвет фона контрола */

  --color-control-typo-default: var(
    --color-base-base
  ); /* Цвет основного текста контрола */

  --color-control-typo-placeholder: var(
    --color-base-base
  ); /* Цвет плейсхолдера контрола */

  --color-control-bg-border-default: #121212; /* + Цвет фона бордеров котрола */

  --color-control-bg-border-default-hover: #575757; /* + Цвет фона бордеров контрола по ховеру */

  --color-control-bg-border-focus: #dedede; /* +Цвет аутлайна контролов при фокусе */

  --color-control-bg-focus: rgba(
    171,
    137,
    86,
    0.25
  ); /* + Цвет тени в состонии фокуса */

  --color-control-bg-active: rgba(
    171,
    137,
    86,
    0.25
  ); /* + Цвет тени в состонии нажатия  */

  /* Primary */
  --color-control-bg-primary: #ab8956; /* + Цвет фона активного контрола */

  --color-control-bg-primary-hover: #ab8956; /* + Цвет фона активного контрола по ховеру */

  --color-control-typo-primary: #ffffff; /* + Цвет акцентного текста */

  --color-control-typo-primary-hover: #ffffff; /* + Цвет акцентного текста */

  /* Secondary */
  --color-control-bg-secondary: var(
    --color-base-project
  ); /* + Цвет фона бордеров котрола */

  --color-control-bg-border-secondary: var(
    --color-base-project
  ); /* + Цвет фона бордеров котрола */

  --color-control-bg-border-secondary-hover: var(
    --color-base-project
  ); /* + Цвет фона бордеров контрола по ховеру */

  --color-control-typo-secondary: var(
    --color-base-path
  ); /* Цвет второстепеного текста контрола */

  --color-control-typo-secondary-hover: var(
    --color-base-path
  ); /* Цвет акцентного текста */

  /* Ghost */
  --color-control-bg-ghost: #1a1818; /* + Цвет фона дополнительного контрола */

  --color-control-bg-ghost-hover: var(
    --color-base-phantom
  ); /* Цвет фона дополнительного контрола по ховеру */

  --color-control-typo-ghost: var(
    --color-base-base
  ); /* Цвет дополнительного текста контрола */

  --color-control-typo-ghost-hover: var(
    --color-base-base
  ); /* Цвет акцентного текста */

  /* Clear */
  --color-control-bg-clear: var(
    --color-base-transparent
  ); /* + Цвет фона чистого контрола */

  --color-control-bg-clear-hover: var(
    --color-base-transparent
  ); /* + Цвет фона чистого контрола по ховеру */

  --color-control-typo-clear: var(
    --color-base-base
  ); /* Цвет акцентного текста */

  --color-control-typo-clear-hover: var(
    --color-base-base
  ); /* Цвет акцентного текста */

  /* Disable */
  --color-control-bg-disable: rgba(
    171,
    137,
    86,
    0.5
  ); /* + Цвет фона неактивного контрола */

  --color-control-bg-border-disable: var(
    --color-base-transparent
  ); /* + Цвет фона бордеров неактивного контрола */

  --color-control-typo-disable: rgba(
    255,
    255,
    255,
    0.5
  ); /* + Цвет основного текста неактивного контрола */

  /* /////////////////////////////
  // Цвета тени /////////// */
  --color-shadow-group-1: var(--color-base-system);
  --color-shadow-group-2: var(--color-base-shadow);
  --color-shadow-layer-1: var(--color-base-shadow);
  --color-shadow-layer-2: var(--color-base-shadow);
  --color-shadow-modal-1: var(--color-base-shadow);
  --color-shadow-modal-2: var(--color-base-shadow);
}
/* stylelint-enable */
